@media (max-width: 750px) {

    /* HEADER */
    header {
        padding-inline: 14px;
    }


    /* SECTION 1 */
    .section1 {
        padding-inline: 14px;
        height: 431px;
    }

    .section1_h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .section1_p {
        font-size: 14px;
        line-height: 22px;
    }
}

@media (max-width: 700px) {
    nav {
        display: none;
    }

    .burger_menu {
        display: block;
    }

    /* SECTION 2 */
    .section2 {
        padding-block: 48px;
    }

    .section2_h2 {
        text-align: center;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 25px;
    }

    .section2_articles {
        flex-direction: column;
        align-items: center;
        row-gap: 21px;
    }

    .section2_article {
        width: 345px;
    }

    /* SECTION 3 */
    .section3 {
        padding-bottom: 48px;
    }

    .section3_h2 {
        text-align: center;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 24px;
    }

    .section3_images_row {
        flex-direction: column;
        row-gap: 20px;
    }

    .below {
        width: 100%;
    }

    .section3_firstImg,
    .section3_images_row {
        width: 375px;
    }
}